.appContainer {
  margin: 0 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.trafficLight {
  background-color: gray;
  height: 350px;
  width: 150px;
  border-radius: 60px;
  margin-top: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}